PORT="your value"
MONGO_URL="mongoDb url or local db url"
JWT_SECRET="your value"
JWT_EXPIRY="your value"
CLOUD_API_KEY="cloudinary api key (free)"
CLOUD_API_SECRET="cloudinary api secret (free)"
CLOUD_NAME="cloudinary cloud name (free)"